<main id="main">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>get reset password instructions</h2>
        </div>

        <div class="row">

          <div class="col-lg-3"></div>

          <div class="col-lg-6 mt-4 mt-lg-0">

            <%= form_with url: send_reset_password_instructions_path(), method: :get do |f| %>

              <div class="form-group mt-3">
                <div class="form-floating">                    
                  <%= f.email_field :email, id: 'email', class: 'form-control', row: '9', required: 'required' %>
                  <%= f.label 'Enter email to get instructions', for: 'email' %>
                </div>
              </div>

              <div class="text-center">
                <%= f.submit 'enter' %>
              </div>
            <% end %>

          </div>

        </div>

      </div>
    </section>
</main>
<!-- End Contact Section -->  
