
<p>TestPage</p>

<div id="arr">
  <%= render partial: 'element', collection: @elements %>
</div>

<div id='search'>
  <%= form_with url: find_path, local: false, model: @text do |form| %>
    <%= form.text_field :text %>
    <%= form.submit 'search', id: 'search_btn' %>
  <% end %>
</div>

<script>
  $('#text').on("input", () => 
  {
    console.log('in')
    $('#search_btn').click()
  })
</script>