<section id="actual" class="why-us">
  <div class="container">

    <div class="row">

      <% @orders.each do |order|%>
      <% @mechanic = Mechanic.find_by(id: order.mechanic_id) %>
        <div class="col-lg-4 mt-4 mt-lg-4">
            <div class="box">
              <span><%= order.state %></span>
              <h4><%= order.description %></h4>
              <p><%= "#{@mechanic.first_name} #{@mechanic.last_name}" %></p>

              <% if current_user.is_a?(Admin) && order.state != 'done' %>
                <%= link_to 'Update state', user_order_path(current_user, order, state: 'change'), method: :put, zclass: 'btn-get-started scrollto'%>
              <% end %>

            </div>
        </div>
      <% end %> 

    </div>

  </div>
</section>